*.conf text eol=lf -crlf
*.css text eol=lf -crlf
*.dockerignore text eol=lf -crlf
*.gitignore text eol=lf -crlf
*.html text eol=lf -crlf
*.java text eol=lf -crlf
*.js text eol=lf -crlf
*.json text eol=lf -crlf
*.md text eol=lf -crlf
*.sh text eol=lf -crlf
*.txt text eol=lf -crlf
*.xml text eol=lf -crlf
*.yaml text eol=lf -crlf
*.yml text eol=lf -crlf
*rc text eol=lf -crlf
