repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: check-merge-conflict
    -   id: trailing-whitespace
        args:
        - --no-markdown-linebreak-ext
    -   id: check-json
    -   id: check-yaml
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.7
    hooks:
    -   id: remove-crlf
    -   id: remove-tabs
    -   id: insert-license
        files: \.(css|java|js)$
        exclude: vboard-front/src/main/common/app/styles/module/loading.css
        args:
        - --license-filepath
        - LICENSE-short.txt
        - --comment-style
        - /*| *| */
    -   id: insert-license
        files: \.html$
        args:
        - --license-filepath
        - LICENSE-short.txt
        - --comment-style
        - <!--|  ~|  -->
# The following hook installation always end up failing due to connection issues,
# so I (Lucas) am disabling it for now.
# -   repo: https://github.com/Lucas-C/pre-commit-hooks-nodejs
    # rev: v1.1.0
    # hooks:
    # -   id: markdown-toc
        # files: ^README\.md$
    # -   id: markdown-toc
        # files: ^CONTRIBUTING\.md$
# vboard-front
-   repo: local
    hooks:
    -   id: angular-forbid-$apply
        name: In AngularJS, use $digest over $apply
        language: pygrep
        entry: $apply
        files: ^vboard-front.+\.js$
    -   id: angular-forbid-ngrepeat-without-trackby
        name: In AngularJS, ALWAYS use 'track by' with ng-repeat
        language: pygrep
        entry: ng-repeat(?!.*track by)
        files: ^vboard-front.+\.html$
    -   id: angular-forbid-ngmodel-with-no-dot
        name: In AngularJS, "Whenever you have ng-model there's gotta be a dot in there somewhere"
        language: pygrep
        entry: ng-model="[^.]+"
        files: ^vboard-front.+\.html$
        exclude: vboard-front/src/main/common/vboardProfil.*
